<div
  class="container-lg h-100 d-flex justify-content-center align-items-center flex-column"
>
  <h1>Sign Up</h1>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="userCredentialsForm">
    <div class="input-group mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="First Name"
        aria-label="First Name"
        formControlName="firstName"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Last Name"
        aria-label="Last Name"
        formControlName="lastName"
      />
    </div>
    <div class="input-group mb-2">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        aria-label="email"
        formControlName="email"
      />
    </div>
    <app-password-input
      inputName="password"
      [form]="userCredentialsForm"
    ></app-password-input>
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
</div>
