<div class="input-group mb-2">
  <input
    [type]="showPassword ? 'text' : 'password'"
    class="form-control"
    placeholder="Password"
    aria-label="password"
    aria-describedby="toggle-password-btn"
  />
  <div class="input-group-append">
    <button
      (click)="toggleShowPassword()"
      class="btn btn-outline-secondary"
      type="button"
      id="toggle-password-btn"
    >
      <div *ngIf="showPassword; else showThis">
        <fa-icon [icon]="passwordIconHide"></fa-icon>
      </div>
      <ng-template #showThis>
        <fa-icon [icon]="passwordIconShow"></fa-icon>
      </ng-template>
    </button>
  </div>
</div>
